// .foreground {
//   box-sizing: border-box;

//   p {
//     font-size: 1.1rem;
//   }

//   .gain-feedback {
//     width: 100px;
//     height: 100px;
//     background-color: #ffffff;
//     margin-top: 20px;
//   }
// }

.state {
  position: absolute;
  top: 0;
  left: 0;
}

.foreground {
  padding: 0;
}

#testing {
  background-color: #ffffff;
}

#title {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
  }
}


#end {
  background-color: #ffffff;
}


.main p {
  font-size: 0.8rem;
}
